{% extends "base.jinja2" %}
{% block content %}
<div class="page-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h3>Select the rack type you wish for the rack:</h3>
</div>
<div class="list-group">
    <h4 class="list-group-item-title"> Rack ID: <strong>{{ rack.rack_id }}</strong></h4>
    <h4 class="list-group-item-text">Client: <strong>{{ rack.client }}</strong><small>  LeROM: <strong>{{ rack.lerom }}</strong></small></h4></a>
</div>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">RYO</button>
  <button type="button" class="btn btn-default">RYO NW Cabled</button>
  <button type="button" class="btn btn-default">Intelligent Cluster</button>
  <button type="button" class="btn btn-default">GSS</button>
  <button type="button" class="btn btn-default">Intelligent Cluster & GSS</button>
</div>

{% endblock %}