{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Select a Rack to edit info:</h1>
    </div>
    <div class="list-group">
        {% for rack in racks %}
            <a href="{{ url_for('racks.edit_info', rack_id=rack._id) }}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-remove-circle"></span> Rack {{ rack.rackid }} || {{ rack.customer }}, lerom: {{ rack.lerom }}</h4>
                    type: <strong>{{ rack.racktype }}</strong></p></a>
        {% endfor %}
    </div>
{% endblock %}