<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complex Solutions</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch_darkly.min.css') }}">
	<!-- Include Bootstrap Datepicker -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-combobox.css') }}">

	<style type="text/css">
	/**
	 * Override feedback icon position
	 * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
	 */
	#eventForm .form-control-feedback {
		top: 0;
		right: -15px;
	}
	</style>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Home">ComplexWEB</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            {% if session['email'] %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Readiness <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('racks.create_rack') }}">Create New Rack</a></li>
                            <li><a href="{{ url_for('racks.edit') }}">Edit Rack Info</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Test <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Racks Under Test</a></li>
                            <li><a href="{{ url_for('manuals.show_manuals') }}">Manuals</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('racks.monitor') }}">Monitor</a></li>
                    <li><a href="#"><font face="verdana">Look Up! <span class="glyphicon glyphicon-search"></span></font></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ><span class="glyphicon glyphicon-console"></span><font face="verdana"> WELCOME {{ session['email'] }}</font></a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('racks.monitor') }}">Monitor</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.login_user') }}"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Created by TE for Rack Test & Management Automation </p>
  </div>
</footer>

<div class="content container">
<form action="{{ url_for('racks.create_rack') }}" id="eventForm" method="post" class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-3 control-label" for="rackid">rackid</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="rackid" name="rackid">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="crm">crm</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="crm" name="crm">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="mfg_so">mfg_so</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="mfg_so" name="mfg_so">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="lerom">lerom</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="lerom" name="lerom">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="mtm">mtm</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="mtm" name="mtm">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="customer">customer</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="customer" name="customer">
		</div>
	</div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Type</label>
        <div class="col-xs-5 selectContainer">
            <select class="form-control" id="racktype" name="racktype">
                <option value="">Choose a rack type</option>
                <option value="ryo">RYO</option>
                <option value="ryo_nw">RYO with N/W</option>
                <option value="ic">Intelligent Cluster</option>
                <option value="gss">GSS (Standard Edition)</option>
                <option value="dss">DSS-G</option>
            <!--<option value="ic_gss">Intelligent Cluster & GSS</option>
                <option value="hs">HyperScale</option> -->
            </select>
        </div>
    </div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="sn">sn</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="sn" name="sn">
		</div>
	</div>

    <div class="form-group">
        <label class="col-xs-3 control-label">expected_ship_date</label>
        <div class="col-xs-5 date">
            <div class="input-group input-append date" id="expected_ship_date">
                <input type="text" class="form-control" name="expected_ship_date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">ctb_date</label>
        <div class="col-xs-5 date">
            <div class="input-group input-append date" id="ctb_date">
                <input type="text" class="form-control" name="ctb_date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">estimated_ship_date</label>
        <div class="col-xs-5 date">
            <div class="input-group input-append date" id="estimated_ship_date">
                <input type="text" class="form-control" name="estimated_ship_date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="comments">comments</label>
		<div class="col-xs-5">
			<input type="text" class="form-control" id="comments" name="comments">
		</div>
	</div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Create RACK</button>
        </div>
    </div>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script src="{{ url_for('static', filename='css/bootstrap-combobox.js') }}"></script>
<script>
$(document).ready(function() {
    $('#expected_ship_date')
        .datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#ctb_date')
        .datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#estimated_ship_date')
        .datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            excluded: ':disabled',
            fields: {
                racktype: {
                        validators: {
                            notEmpty: {
                                message: 'The rack type is required'
                            }
                        }
                    }
                }
    })
    .find('[name="racktype"]')
            .combobox()
            .end()
});
</script>
