{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Select a Rack...</h1>
    </div>
    <div class="list-group">
        {% for rack in racks %}

            <a href="{{ url_for('racks.monitor_rack', rack=rack._id) }}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-menu-right"></span> Rack {{ rack.rackid }} || {{ rack.customer }}, lerom: {{ rack.lerom }}</h4>
                <p class="list-group-item-text"> Comments || Status: <strong>{{ rack.comments }}</strong></br></p>
                <p class="list-group-item-text"> Type: <strong>{{ rack.racktype }}</strong></p></a>
        {% endfor %}
    </div>
{% endblock %}