{% extends "base.jinja2" %}
{% block content %}

<div class="list-group">
  <a href="{{ url_for('racks.create_rack') }}" class="list-group-item">Create New Rack</a>
  <a href="{{ url_for('racks.edit') }}" class="list-group-item">Edit Rack's info</a>
</div>

{% endblock %}