{% extends "base.jinja2" %}
{% block content %}

Please describe in long therm (>20 characters) the feedback and the new fix description<br>
<p><a href='/fixes/feedback/{{fix}}'>BACK</a></p>

{% endblock %}