{% extends "base.jinja2" %}
{% block content %}

Please describe in long therm (>20 characters) what the problem or delay is<br><p><a href='/fixes/add/{{rack}}/{{task}}/{{failure}}'>BACK</a></p>

{% endblock %}