<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complex Solutions</title>

    {% include 'html_dependencies.jinja2' %}

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Home">ComplexWEB</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            {% if session['email'] %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Readiness <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('racks.create_rack') }}">Create New Rack</a></li>
                            <li><a href="{{ url_for('racks.edit') }}">Edit Rack Info</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Test <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Racks Under Test</a></li>
                            <li><a href="{{ url_for('manuals.show_manuals') }}">Manuals</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('racks.monitor') }}">Monitor</a></li>
                    <li><a href="#"><font face="verdana">Look Up! <span class="glyphicon glyphicon-search"></span></font></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ><span class="glyphicon glyphicon-console"></span><font face="verdana"> WELCOME {{ session['email'] }}</font></a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('racks.monitor') }}">Monitor</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.login_user') }}"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Created by TE for Rack Test & Management Automation </p>
  </div>
</footer>

<div class="content container">
    {% block content %}

    {% endblock %}
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</body>
</html>