{% extends "csc/csc_base.jinja2" %}
{% block content %}
<div class="container">

    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Complex Web</h6>
      </div>
    </div>

        <hr class="mt-0 mb-5">

    <h4 id="flex-table">CSC - Truven Order</h4>

    <p>UNITS STATUS - SO : {{ so }} </p>

    <br>

    <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">

                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Serial Number</th>
                                <th>Hostname</th>
                                <th>IP</th>
                                <th>SUBNET</th>
                                <th>GATEWAY</th>
                              </tr>
                          </thead>
                          <tbody>

                          {% for unit in units %}
                              <tr>
                                <td><strong> {{ unit['serial'] }} </strong></td>
                                <td> {{ unit['hostname'] }} </td>
                                <td> {{ unit['ip'] }} </td>
                                <td> {{ unit['subnet'] }}</td>
                                <td> {{ unit['gateway'] }}</td>
                                  <!--<td>
                                    <p class="bs-component">
                                        <a href="{{ url_for('TEWebtools.download_folder', server=server, path=path, mtsn=unit.mtsn) }}" class="btn btn-success">Download</a>
                                    </p>
                                </td> --->
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                </div>
            </div>
        </div>

</div>
{% endblock %}