<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        TE WebTools &middot;

    </title>



    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolkit-inverse.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>
<body>

<div class="with-iconav">

  <nav class="iconav">
    <a class="iconav-brand" href="">
      <span class="fa fa-rebel fa-2x iconav-brand-icon"></span>
    </a>
  </nav>

  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Complex Web</h6>
        <h3 class="dashhead-title">TE - WebTools</h3>
      </div>
    </div>
        <hr class="mt-0 mb-5">

    <h4 id="flex-table">CSC - Orders</h4>
{% block content %}

{% endblock %}
</div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tablesorter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>