{% extends "csc/csc_base.jinja2" %}
{% block content %}

    <ul class="list-group">
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('csc.truven_menu')}}" data-container="body">
            Truven Order
            </a>
        </li>
    </ul>

{% endblock %}