{% extends "csc/csc_base.jinja2" %}
{% block content %}

<div class="container">

    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Complex Web</h6>
      </div>
    </div>

        <hr class="mt-0 mb-5">

    <h4 id="flex-table">CSC - Truven Order</h4>

    <ul class="list-group">
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('csc.truven_addunit')}}" data-container="body">
            <h6 id="flex-table">Add Unit</h6>
            </a>
        </li>
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('csc.truven_menu')}}" data-container="body">
            <h6 id="flex-table">Units Status</h6>
            </a>
        </li>
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('csc.truven_menu')}}" data-container="body">
            <h6 id="flex-table">VM Config</h6>
            </a>
        </li>

    </ul>




</div>
{% endblock %}