.form-size {
    max-width: 640px;
    margin: 0 auto;

    background-color: #4169E1;
    padding: 20px;

    border: 1px solid #D5D5D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}