{% extends "TEWebtools/base_webtools.jinja2" %}
{% block content %}
<div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Complex Web</h6>
        <h3 class="dashhead-title">TE - WebTools</h3>
      </div>
    </div>
        <hr class="mt-0 mb-5">

    <h4 id="flex-table">MTSN - CATCHER</h4>

    <p>Scan a Serial Number to search in the L2 (10.34.70.220) </p>
    
        <div class="docs-example" data-example-id="">
            <form action="{{ url_for('TEWebtools.show_folder') }}" id="eventForm" method="post">
                <div class="flextable">
                  <div class="flextable-item flextable-primary">
                    <input type="text" class="form-control" id="serial" name="serial" placeholder="" />
                  </div>
                  <div class="flextable-item">
                    <div class="btn-group">
                      <button type="submit" class="btn btn-outline-primary">
                        <span class="fa fa-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
            </form>
        </div>

</div>
{% endblock %}