{% extends "TEWebtools/base_webtools.jinja2" %}
{% block content %}

 <form action = {{ url_for('TEWebtools.upload_iso') }} method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>

{% endblock %}