{% extends "TEWebtools/base_webtools.jinja2" %}
{% block content %}

<div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Complex Web</h6>
        <h3 class="dashhead-title">TE - WebTools</h3>
      </div>
    </div>
        <hr class="mt-0 mb-5">

    <h4 id="flex-table">Welcome to TE - WebTools</h4>


    <ul class="list-group">
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('TEWebtools.get_tstlog')}}" data-container="body">
            tester.log - CATCHER
            </a>
        </li>
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('TEWebtools.show_folder')}}" data-container="body">
            MTSN - CATCHER
            </a>
        </li>
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('TEWebtools.update_file')}}" data-container="body">
            MS Node status - 1st stage
            </a>
        </li>
        <li class="list-group-header">
            <a class="nav-link" href="{{ url_for('csc.main_menu')}}" data-container="body">
            CSC - Orders
            </a>
        </li>
    </ul>
</div>
{% endblock %}